body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.dark-bg {
    background-color: #1F2937;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links > li {
    padding: 0 15px;
}

.hero-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    margin: 10px;
}

.hero-text > * {
    margin: 15px 0;
}

.hero-img {
    width: 480px;
}

.hero-main,
.logo,
.button {
    color: #F9FAF8;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.subtext {
    color: #E5E7EB;
}

.button {
    font-size: 18px;
    background-color: #3882F6;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header,
.quote {
    color: #1F2937;
    font-size: 36px;
}

.info-header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    gap: 40px;
}

.card {
    width: 170px;
    text-align: center;
}

.card-img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card > .subtext {
    color: #6D747D;
}

.quote {
    font-style: italic;
}

.quote-bg {
    background-color: #E5E7EB;
}