/* Styling for whole website */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

/* Common styling for website elements */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
}

.title {
    text-align: center;
    width: 20vw;
    font-size: xx-large;
}

.board-container {
    width: 60vw;
}

.board {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    flex: 1 0 25%;
    border: solid 1px;
    
    /* Include border into size determination of square */
    box-sizing: border-box;

    /* Default flex basis for 4 squares per row */
    flex: 1 0 25%;
}