/* Styling for whole website */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Common styling for website elements */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}